{% extends "layout.html" %}
{% block content %}

  <!-- Hero Intro Section -->
  <div class="fade-in">
    <h2>{{ subtitle }}</h2>
    <p>{{ text }}</p>
    <p class="intro">Hello! I’m Darlene and this is what I have been working on.</p>
  </div>

    <div class="content-section fade-in">
      <p>Feel free to explore! There might be something cool hidden in here somewhere...</p>
      <p>Well, I think it's cool. Otherwise I wouldn't have added it!</p>
      <button class ="btn" onclick="alert('Sending good vibes your way! <3')">Click me for good vibes!</button>
    </div>
{% endblock content %}