{% extends "layout.html" %}
{% block content %}
    <h2>{{ subtitle }}</h2>
    <p>{{ text }}</p>

    <div class="content-section">
      <p>I'm Darlene! You might have noticed that I titled this <u>"Dar's Dash"</u>. That's because an alarming amount of people call me Dar. </p>
      <p>Anyway, on to the interesting things!</p>
      <ul>
        <li>I used to own a ferret</li>
        <li>I (not so lowkey) think technology is a little evil</li>
        <li>My favorite color is green! If that wasn't already very clear lol</li>
        <li>I don't like matcha or coffee. Hot chai with oat milk all day every day frfr</li>
      </ul>
    </div>

    <div class="content-section">
      <h4>Currently:</h4>
      <ul>
        <li>Reading: Fahrenheit 451</li>
        <li>Thinking about: Dinner with my bestie</li>
        <li>Watching: The Umbrella Academy</li>
      </ul>
    </div>

{% endblock content %}